{% extends 'base.html.twig' %}

{% block title %}Les repas
{% endblock %}

{% block body %}

	<section class="p-8">
		<div class="flex gap-4 flex-wrap ">
			{% for r in repas %}

				<div class="bg-white p-4 w-1/8 h-auto">
					<p>{{ r.name }}</p>
					{% for saison in r.getSaisons %}
						<p>{{saison.name }}</p>
					{% endfor %}
					{% for ing in r.getIngredients %}
						<p>{{ing.name }}</p>
					{% endfor %}

					<a href="{{ path('app_repas_show', {'slug': r.slug}) }}">GO</a>

				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
