<div class="w-full flex justify-between">
	<div>
		<img src="{{ asset('images/logo.webp') }}" class="w-35" alt="Meal Chooser Logo">
	</div>
	<div>
		<nav>
			<ul class="flex gap-4">
				<li>Home</li>
				<li>Création de repas</li>
				<li>Création de semaine</li>
				<li>
					<a href="{{ path('app_repas_list') }}">Les repas</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
